#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --toastify-color-success: #16a34a;
  --toastify-color-error: #dc2626;
  --toastify-color-info: #2563eb;
  --toastify-color-warning: #f59e0b;
  --toastify-toast-background: #1e293b;
  --toastify-text-color-light: #fff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.18s ease-out forwards;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e293b; /* slate-800 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.6);
  border-radius: 10px;
  border: 2px solid #1e293b;
}


::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6366f1, #2563eb);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #1e293b;
}

/* Optional: smooth scrolling for a better feel */
html {
  scroll-behavior: smooth;
}